<%- include ('./partials/header') %>
    <body>
        <h1 class="header">Movie Search</h1>
        <form action="/results" method="get">
            <input name="search" type="text" placeholder="Enter movie name / any word" required>
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>  
    </body>
</html>